*{
    padding: 0;
    margin: 0;
    font-family: candara;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.portfolio{
    height: 100vh;
    width: 100%;
    background-image: url('Sinharaja-1.jpg');
    background-size: 100% 100%;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    text-shadow: 4px 4px 8px #000000;
}
span{
    color: #0dff00;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 4px 4px 8px #000000;
}
nav ul li a:hover{
    color: #0dff00;
    transition: .4s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000;
}
h3{
    color: white;
    font-size: 25px;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000;
}
h4{
    color: #0dff00;
    letter-spacing: 2px;
    font-size: 20px;
    text-shadow: 4px 4px 8px #000000;
}
#info{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
#info img{
    height: auto;
    width: 430px;
}
.atext{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.atext h2{
    color: white;
    font-size: 75px;
    margin-bottom: 20px;
}
.atext h5{
    color: white;
    font-size: 22px;
    margin-bottom: 25px;
}
.atext p{
    color: rgba(204, 255, 216, 0.8);
}
#photo{
    background-color: #101010;
    background-image: url('ss.jpg');
    background-size: 100% 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    text-shadow: 4px 4px 8px #000000;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.sec1{
    height: 450px;
    width: 335px;
    padding: 20px 35px;
    background-image: url('s2.jpg');
    background-size: 100% 100%;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 20px #000000;
}
.sec2{
    height: 450px;
    width: 335px;
    padding: 20px 35px;
    background-image: url('s3.png');
    background-size: 100% 100%;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 20px #000000;
}
.sec3{
    height: 450px;
    width: 335px;
    padding: 20px 35px;
    background-image: url('s5.jpg');
    background-size: 100% 100%;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 20px #000000;
}
footer{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin: 20px;
    font-weight: bold;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #080c74;
    border-radius: 50%;
    margin: 22px 10px;
}
.email{
    color: white;
    font-size: 20px;
    padding-bottom: 50px;
}
.last{
    position: absolute;
    color: #00bbff;
    bottom: 30px;
    font-size: 14px;
}

@media screen and (max-width: 800px){
    body{
        object-fit: cover;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
    }
    h1{
        font-size: 36px;
    }
    .portfolio{
        height: 100vh;
        width: 100%;
        align-items: center;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 14px;
    }
    h4{
        font-size: 15px;
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        padding: 10px 100px;
    }
    
    #info img{
        height: 30vh;
        width: 200px;
    }
    .atext{
        width: 550px;
    }
    .atext h2{
        font-size: 36px;
    }
    .atext h5{
        font-size: 15px;
    }
    .title h2{
        font-size: 36px;
        text-align: left;
        padding-left: 125px;
    }
    .box{
        flex-direction: column;
    }
    footer p:nth-child(1){
        font-size: 20px;
    }
    .social a{
        width: 35px;
        height: 35px;
    }
    .email{
        font-size: 15px;
    }
    .last{
        font-size: 12px;
    }
}